@{
    ViewBag.Title = "Página Principal";
}
<body style="background-color:#008b8b;">
    <div class="jumbotron">
        <img src="@Url.Content("~/Images/engine.jpg")" width="520px" height="160px" alt="Motor Yamaha" ALIGN=right />
        <h1>Piston Club</h1>
        <p class="lead">Inventario y Sistema de Ventas</p>
        </body>
    </div>

